<script setup lang="ts">

import { ref, defineEmits, VueElement, defineExpose, computed } from 'vue'
import { FileFormModel } from '@/model/dialog/file-form-model'
import { TreeItemEnum } from '@/types/tree-item.enum'
import { DirFormModel } from '@/model/dialog/dir-form-model'
import { fileCreateUse } from '@/composable/file-create.use'
import { dirCreateUse } from '@/composable/dir-create.use'
import { DirCreate } from '@/types/dir-create'
import { FileCreate } from '@/types/file-create'
import CrudDialog from '@/components/CrudDialog.vue'

const type = ref<TreeItemEnum>(TreeItemEnum.dir)
const dirId = ref<number>(0)
const crudDialog = ref<typeof CrudDialog | null>(null)
const { fileCreate } = fileCreateUse()
const { dirCreate } = dirCreateUse()

const emit = defineEmits(['submit'])

const model = ref<FileFormModel | DirFormModel>((() => type.value === TreeItemEnum.file ? FileFormModel.default() : DirFormModel.default())())

const open = (dirIdArg: number, typeArg: TreeItemEnum) => {
  dirId.value = dirIdArg
  type.value = typeArg
  if (crudDialog.value) crudDialog.value.open()
}

const close = () => {
  type.value = type.value === TreeItemEnum.dir ? TreeItemEnum.dir : TreeItemEnum.file
  if (crudDialog.value) crudDialog.value.close()
}

const title = computed(() => type.value === TreeItemEnum.dir ? 'Создать папку' : 'Создать файл')
const send = async () => {
  const dto = model.value.toDto(dirId.value)
  let id = null
  if (type.value === TreeItemEnum.dir) {
    await dirCreate(dto as DirCreate)
  } else {
    id = await fileCreate(dto as FileCreate)
    console.log(id)
  }
  close()
  emit('submit', id)
}

defineExpose({
  open,
  close
})
</script>

<template>
  <CrudDialog ref="crudDialog" @save="send">
    <template v-slot:title> {{ title }} </template>
    <template v-slot:content>
      <div class="block">
        <p class="title">Название</p>
        <input type="text" class="input" v-model="model.name" />
      </div>
    </template>
  </CrudDialog>
</template>

<style scoped>
.block {
  padding: 0 20px;
  margin-bottom: 20px;
}

.input {
  background-color: transparent;
  border: solid 1px #999999;
  display: block;
  width: 100%;
  outline: 0;
  padding: 4px;
  color: #999;
}

.title {
  margin: 0;
  padding-bottom: 5px;
}
</style>
