<script setup lang="ts">
import { ref, defineExpose, defineEmits, defineProps } from 'vue'

const props = defineProps({
  showAction: {
    type: Boolean,
    default: () => true
  }
})
const emit = defineEmits(['show', 'hidden', 'save', 'close'])
const isShow = ref(false)
const open = () => {
  isShow.value = true
  emit('show')
}

const close = () => {
  isShow.value = false
  emit('close')
  emit('hidden')
}

defineExpose({
  open,
  close
})
</script>

<template>
  <div class="dialog" @click="close" v-if="isShow">
    <div class="center" @click.stop>
      <button class="button-close"></button>
      <slot>
        <div class="title">
          <slot name="title">Текст формы</slot>
        </div>
        <div class="content">
          <slot name="content">Контент формы</slot>
        </div>
        <div class="actions" v-if="!!props.showAction">
          <button class="button-action" @click="close">Отмена</button>
          <button class="button-action" @click="emit('save')">Сохранить</button>
        </div>
      </slot>
    </div>
  </div>
</template>

<style scoped lang="scss">
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.dialog-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.07);
}

.center {
  width: 100%;
  max-width: 400px;
  background-color: #222;
  position: relative;
  border-radius: 4px;
  border: solid 1px #999;
}

.title {
  border-bottom: solid 1px #999;
  padding: 8px 4px;
  font-size: 16px;
  color: #fff;
}

.button-close {
  position: absolute;
  right: 10px;
  top: 9px;
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 15px;
  height: 15px;

  &::before, &:after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    top: 10px;
  }

  &::before {
    transform: rotateZ(45deg);
  }

  &::after {
    transform: rotateZ(-45deg);
  }
}

.button-action {
  border: solid 1px #999999;
  outline: 0;
  background: transparent;
  padding: 5px 15px;
  color: #fff;
  transition: 0.2s;
  display: block;
  cursor: pointer;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.content {
  padding: 20px 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-top: solid 1px #ccc;
}
</style>
