<script setup lang="ts">

import { ref, defineEmits, defineExpose } from 'vue'
import { TreeItemEnum } from '@/types/tree-item.enum'
import CrudDialog from '@/components/CrudDialog.vue'
const type = ref<TreeItemEnum>(TreeItemEnum.dir)
const dirId = ref<number>(0)

const emit = defineEmits(['submit'])
const crudDialog = ref<typeof CrudDialog | null>(null)
const open = (dirIdArg: number) => {
  dirId.value = dirIdArg
  if (crudDialog.value) crudDialog.value.open()
}

const close = () => {
  if (crudDialog.value) crudDialog.value.close()
}

const send = async (type: TreeItemEnum) => {
  close()
  emit('submit', [dirId.value, type])
}

defineExpose({
  open,
  close
})
</script>

<template>
  <CrudDialog ref="crudDialog" @save="send" :show-action="false">
    <template v-slot:title> Действие ? </template>
    <template v-slot:content>
      <button @click="send(TreeItemEnum.file)">Создать файл</button>
      <button @click="send(TreeItemEnum.dir)">Создать папку</button>
    </template>
  </CrudDialog>
</template>

<style scoped>
.block {
  padding: 0 20px;
  margin-bottom: 20px;
}

.input {
  background-color: transparent;
  border: solid 1px #999999;
  display: block;
  width: 100%;
  outline: 0;
  padding: 4px;
  color: #999;
}

.title {
  margin: 0;
  padding-bottom: 5px;
}
</style>
