<template>
  <div class="item">
    <div
      @click="isShow = !isShow"
      :style="`padding-left: ${20 * lvl}px`"
      :class="itemIdActive === currentItem.id ? 'is-active' : null"
      class="item-title"
    >
      <svg v-if="isShow && isTypeDir && isDirChildren" class="item-arrow">
        <use href="../assets/icons/sprite.svg#arrow-bottom"></use>
      </svg>
      <svg v-else-if="isTypeDir && isDirChildren" class="item-arrow">
        <use href="../assets/icons/sprite.svg#arrow-right"></use>
      </svg>
      <svg v-if="isTypeDir" class="item-icon">
        <use href="../assets/icons/sprite.svg#folder"></use>
      </svg>
      <svg v-if="!isTypeDir" class="item-icon">
        <use href="../assets/icons/sprite.svg#draft"></use>
      </svg>

      <p v-if="!isEdit" class="item-name" @click="!isTypeDir ? $emit('open', {id: currentItem.id, path, name: currentItem.name}) : null">
        {{ currentItem.name }}
      </p>
      <input ref="inputName" @click.stop @blur="isEdit = false" v-if="isEdit" type="text" class="item-name-edit" v-model="currentItem.name">

      <div class="item-action" @click.stop>
        <svg v-if="isTypeDir" class="item-arrow" @click="$emit('create', currentItem.id)">
          <use href="../assets/icons/sprite.svg#add"></use>
        </svg>
        <svg v-if="currentItem.id !== 0" class="item-arrow" @click="editName">
          <use href="../assets/icons/sprite.svg#edit"></use>
        </svg>
        <svg v-if="currentItem.id !== 0" class="item-arrow" @click="$emit('delete', currentItem.id)">
          <use href="../assets/icons/sprite.svg#delete"></use>
        </svg>
      </div>
    </div>
    <template v-if="isShow">
      <TreeItem
        v-for="currentItemChildId in currentItem.children"
        :key="currentItemChildId"
        :item-id="currentItemChildId"
        :items="items"
        :lvl="lvl + 1"
        :path="path + '/' + currentItem.name"
        :item-id-active="itemIdActive"
        @create="$emit('create', $event)"
        @delete="$emit('delete', $event)"
        @open="$emit('open', $event)"
      />
    </template>
  </div>
</template>

<script lang="ts">
import { computed, nextTick, ref, toRefs, VueElement } from 'vue'
import { TreeItem } from '@/types/tree-item'

export default {
  name: 'TreeItem',
  props: {
    itemId: Number,
    itemIdActive: Number || null,
    path: {
      type: String,
      default: () => ''
    },
    lvl: {
      type: Number,
      default: () => 0
    },
    items: Array
  },
  setup (props: {
    itemId: number
    items: TreeItem[]
  }) {
    const { itemId, items } = toRefs(props)
    const isShow = ref(true)
    const currentItem = computed(() =>
      items?.value?.find((el) => el.id === itemId.value)
    )
    const isTypeDir = computed(() => currentItem.value?.type === 'dir')
    const isDirChildren = computed(() => currentItem.value?.children.length)
    const isEdit = ref(false)
    const inputName = ref<VueElement | null>(null)
    const editName = () => {
      isEdit.value = true
      nextTick(() => {
        if (inputName.value) inputName.value.focus()
      })
    }

    return {
      currentItem,
      isShow,
      isTypeDir,
      isDirChildren,
      isEdit,
      inputName,
      editName
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  justify-content: center;
  align-self: center;
  align-items: center;
}

.item-arrow {
  display: block;
  align-self: center;
  width: 17px;
  height: 17px;
  fill: #fff;
  margin-right: 3px;

  > use {
    width: 100%;
  }
}

.item-icon {
  display: block;
  align-self: center;
  width: 17px;
  height: 17px;
  fill: #fff;
  margin-right: 3px;

  &.mod-margin-left {
    padding-left: 15px;
  }

  > use {
    width: 100%;
  }
}

.item-name {
  text-align: left;
  flex: 1;
  margin: 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px 0;
}

.item-name-edit {
  text-align: left;
  flex: 1;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  outline: none;
  border: 0;
  box-shadow: 0 0 2px #000;
  border-radius: 2px;
  font-size: 16px;
  padding: 2px 4px;
  margin: 3px 0;
}

.item-title {
  display: flex;
  padding: 0 4px;
  border-radius: 4px;
  font-size: 16px;

  &:hover, &.is-active {
    background-color: #43454A;

    > .item-action {
      display: flex;
    }
  }
}

.item-action {
  display: none;
}
</style>
