<template>
  <main class="main" @mousemove="mouseMove" @mouseup="mouseUp">
    <div class="main-block" :class="isBlur ? 'mod-blur' : null">
      <section class="tree" :style="`width: ${treeWidth}px`">
        <div
          @mousedown="mouseDown"
          class="resize"
        >
          <div class="resize-button"></div>
        </div>

        <TreeItem
          :item-id="0"
          :items="tree"
          :item-id-active="selectFile"
          @create="isCreateForm.open($event)"
          @delete="fileDelete"
          @open="addOpenFileShort"
        />
      </section>
      <section class="content">
        <p class="placeholder">Поле ввода текста</p>
        <div class="top">
          <div class="top-element" v-for="(file) in openFiles" :key="file.id" :class="selectFile === file.id ? 'is-active' : null" @click="selectFile = file.id">
            <svg class="top-element-icon">
              <use href="./assets/icons/sprite.svg#draft"></use>
            </svg>
            <p class="file-name">
              <span v-if="file.showPath" class="file-name-path">{{ file.path }}</span>
              <span v-if="file.showPath">/</span>
              <span>{{file.name}}</span>
            </p>
          </div>
        </div>
        <textarea class="content-textarea" v-model="selectFileContent"></textarea>
      </section>
    </div>
    <CreateForm
      ref="createForm"
      @show="isBlur = true"
      @hidden="isBlur = false"
    />
    <IsCreateForm
      ref="isCreateForm"
      @show="isBlur = true"
      @hidden="isBlur = false"
      @submit="createForm.open(...$event)"
    />
  </main>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import TreeItem from '@/components/TreeItem.vue'
import { InfoFileShort } from '@/types/info-file-short'
import CreateForm from '@/components/CreateForm.vue'
import IsCreateForm from '@/components/IsCreateForm.vue'
import { fileSetTextUse } from '@/composable/file-set-text.use'
import { fileDeleteUse } from '@/composable/file-delete.use'

const menuMaxWidth = 500
const menuMinWidth = 200
const treeWidth = ref(350)
const isEditTreeWidth = ref(false)
const mouseDown = () => {
  isEditTreeWidth.value = !isEditTreeWidth.value
}
const mouseUp = () => {
  isEditTreeWidth.value = false
}

const mouseMove = (e: MouseEvent) => {
  if (
    isEditTreeWidth.value &&
    (
      (e.movementX < 0 && treeWidth.value > menuMinWidth) ||
      (e.movementX > 0 && treeWidth.value < menuMaxWidth)
    )
  ) {
    treeWidth.value += e.movementX
  }
}
const { state } = useStore()
const tree = state.tree
const createForm = ref<typeof CreateForm | null>(null)
const isCreateForm = ref<typeof IsCreateForm | null>(null)
const isBlur = ref(false)

const openFileShort = ref<InfoFileShort[]>([])

const addOpenFileShort = (el: InfoFileShort) => {
  selectFile.value = el.id
  if (openFileShort.value.findIndex((item) => item.id === el.id) !== -1) {
    return
  }
  if (openFileShort.value.length >= 4) {
    openFileShort.value = openFileShort.value.splice(1)
  }
  openFileShort.value.push(el)
}

const openFiles = computed<Array<InfoFileShort & {showPath: boolean}>>(() => {
  return openFileShort.value.map((item) => ({
    ...item,
    showPath: openFileShort.value.map((el) => el.name === item.name && el !== item).includes(true)
  }))
})
const { fileSetText } = fileSetTextUse()
const selectFileContent = computed({
  get: () => state.fileContents.find((item: {id: number}) => item.id === selectFile.value)?.content || '',
  set: (text) => fileSetText({ content: text, id: selectFile.value as number })
})
const selectFile = ref<number | null>(null)
const { fileDelete } = fileDeleteUse()
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.top {
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #999;
  display: flex;
}

.top-element {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;

  &.is-active {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: #4f6470;
      border-radius: 2px;
    }
  }
}

.top-element-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.file-name {
  display: flex;
}

.file-name-path {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  height: 100%;
  background-color: #1E1F22;
}

.main {
  height: 100%;
}

.main-block {
  height: 100%;
  display: flex;
  transition: filter 0.1s;

  &.mod-blur {
    filter: blur(1px);
  }
}

.tree {
  width: 250px;
  background-color: #2B2D30;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
}

.resize {
  position: absolute;
  height: 100%;
  width: 10px;
  right: -5px;
  display: flex;
  cursor: col-resize;
}

.resize-button {
  width: 8px;
  height: 30px;
  margin-left: 1px;
  background-color: black;
  align-self: center;
}

.content {
  position: relative;
  flex: 1;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #354a5e;
  font-size: 26px;
  text-shadow: 0 0 3px #080d11;
  margin: 0;
}

.content-textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background-color: transparent;
  resize: none;
  color: #fff;
  font-size: 16px;
}
</style>
